/* CSS resets */

* {
    margin: 0;
    padding: 0;
}

/* respect user font size preferences */
html {
    font-size: 100%;
}

/* General CSS */

body {
    background-color: #594645;
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

header {
    padding: 6rem;
    margin-bottom: 3rem;
    background-color: #D9C5B4;
    color: #F0F2F0;
    border-bottom: #402F2D 1px solid;
    /* text-align: center; */
}


header h1 {
    font-size: 3rem;
}

nav{
    position: absolute;
    right: 2rem;
    top: 2rem;
}

nav a{
    text-decoration: none;
    color: #080808;
    display: inline-block;
    margin: 0 1rem;
}

main {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 2rem 0;
}


.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 5rem;
}


.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    padding: 2rem 0;
}




.portfolio-item {
    margin-bottom: 5rem;
    background-color: #A68B81;
    padding: 4rem;
    text-align: justify;
        border: 10px #080808 solid;
    /* border-style: solid;
    border-width: 13px;
    border-color: #8C8570, #A68549, #734720, #592D14;   */
    border-radius: .5rem;
    box-shadow: 0px 4px 6px #402F2D(0, 0, 0, 0.2);
}

.portfolio-item h3{
    margin: 1rem 0;
}

.portfolio-item p {
    font-size: 1.2rem;
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
}



.about-section {
    background-color: #F0F2F0;

}

.portfolio-section {
    background-color: #9b362b;

}

footer{
    background-color: #333;
    color:#eee;
    padding: 1rem;
    text-align: end;
}

footer p{
    font-size: 1.2rem;
}