
.choi-yena {
    position: absolute;
    top: 320px;
    left: 490px;
}

.da-da {
    margin: 50px auto;
    max-width: 600px;
    font-size: 3rem;
}

.yip {
    position: absolute;
    top: 40px;
    left: 50px;

}